@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,600;1,500&family=Roboto:wght@400;500&display=swap');
.form_1{
    margin-left: 400px;
    margin-right: 400px;
    border: solid rgba(101, 76, 79, 0.982);
}
h3{
    margin-left: 420px;
}
/* User name */
.form_username1 {
    display: block;
    margin-left: 20px;
}
.form_username2{
    width: 50%;
    margin-left: 20px;
}

/* Password */
.form_password1{
    display: block;
    margin-left: 20px;
}
.form_password2{
    width: 50%;
    margin-left: 20px;
}
.check_box{
    margin-left: 20px;
}
.button{
    margin-left: 20px;
    width: 112px;
}
.forgot_password{
    margin-left: 20px;
}

