@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,600;1,500&family=Roboto:wght@400;500&display=swap');
.form_1{
  max-width:800px ;
  margin: auto;
    border: solid rgba(101, 76, 79, 0.982);
    border-radius: 8px;
    
}
h3{
   text-align: center;
}
/* User name */
.form_username1 {
    display: block;
    margin-left: 20px;
}
.form_username2{
    width: 50%;
    margin-left: 20px;
}

/* Password */
.form_password1{
    display: block;
    margin-left: 20px;
}
.form_password2{
    width: 50%;
    margin-left: 20px;
}
.check_box{
    margin-left: 20px;
}
.button{
    margin-left: 20px;
    width: 112px;
}
.forgot_password{
    margin-left: 20px;
}

.form_lg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEUnUfoRiI9Eob7jbwHWVePIg-Wn3Uw10sdg&usqp=CAU');
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;
}